{% extends "main/base.html" %}
{% block content %}
    <br>
    <h2>User: {{ user.get_username }}</h2>
    <br>
    {% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-warning mt-2" id="container">
                <h3>{{ el.title }}</h3>
                <input name="check" type="checkbox" onclick="make_line_through(); {{ el.change_state }}"/>
                <p>{{ el.task }}</p>
            </div>
        {% endfor %}
        <button class="button btn-outline-dark" onclick="window.location.href = '{% url 'create' %}';">Add task</button>
    {% else %}
        <p>You haven't created any tasks yet</p>
        <a class="nav-link" href="{% url 'create' %}">Create task</a>
    {% endif %}
{% endblock %}